* {
    --path: polygon(0 100%, calc(100% - var(--tip-size)) 100%, 100% calc(100% - var(--tip-size) / 3 * 2), 100% 0, var(--tip-size) 0, 0 calc(var(--tip-size) / 3 * 2)) !important;
}

.kanban {
    overflow-x: auto;
    white-space: nowrap;
    width: calc(100vw - 10em);

    & > div {
        display: inline-flex;
        width: 400px;
        vertical-align: top;
        margin-inline: 0.25em;
    }

    & .kanban-tile {
        margin-block: 0 !important;

        & [role="kanban-tile-title"] {
            width: 100%;
            white-space: normal;
        }
    }
}

@media screen and (max-width: 550px) {
    .kanban {
        & > div {
            width: calc(100% - 3em);
        }
    }
}

.ms-cost-row {
    grid-template-columns: 3fr repeat(5, 1fr);

    &:hover {
        background-color: var(--bg-lite);
    }

    & > .number {
        text-align: right;
    }
}

.project-logo {
    background-color: var(--accent-color);

    & > .icon {
        font-size: 10em;
    }
}
