/*********** theme overwrites ************/

/* backdropped */
.card, [role$="card"], .section,
footer,
header,
.tile {
    background: linear-gradient(-45deg, var(--bg), var(--bg-ghost));
}

/* bordered - remove */
.button,
.card, [role$="card"], .section,
footer,
header,
.input-container,
[role="file-card"],
.tile {
    border: none;
}

/* cut-corners */
/* .button,
.card, [role$="card"], .section,
.chart .value,
footer,
header,
.progress-bar,
[role="file-card"],
.tag,
.tile,
#toast {
    --tip-size: 2em;
    --path: polygon(0 100%, calc(100% - var(--tip-size)) 100%, 100% calc(100% - var(--tip-size) / 3 * 2), 100% 0, var(--tip-size) 0, 0 calc(var(--tip-size) / 3 * 2)) !important;
    clip-path: var(--path);
} */

/* milky */
#toast {
    backdrop-filter: blur(1em);
}

/* rounded - remove */
.button,
.card, [role$="card"], .section,
.chart .value,
footer,
header,
.input-container,
.progress-bar,
[role="file-card"],
.tag,
.tile,
#toast {
    border-radius: 0;
}

/*********** app specific ************/

.button {
    --tip-size: 1em;

    background: var(--bg-ghost);

    &.active {
        border-block: 2px solid;
    }
}

.input-container {
    padding: 0.5em 0;
    border-block: 2px solid transparent;
}

.kanban {
    overflow-x: auto;
    white-space: nowrap;
    width: calc(100vw - 20em);

    & > div {
        display: inline-flex;
        width: 400px;
        vertical-align: top;
        margin-inline: 0.25em;
    }

    & .kanban-tile {
        margin-block: 0 !important;

        & [role="kanban-tile-title"] {
            width: 100%;
            white-space: normal;
        }
    }
}

@media screen and (max-width: 550px) {
    .kanban {
        & > div {
            width: calc(100% - 3em);
        }
    }
}

.ms-cost-row {
    grid-template-columns: 3fr repeat(5, 1fr);

    &:hover {
        background-color: var(--bg-lite);
    }

    & > .number {
        text-align: right;
    }
}

.project-logo {
    & > .icon {
        font-size: 10em;
    }

    & .backdropped {
        background-color: var(--accent-color);
    }
}

.tag {
    --tip-size: 0.5em;
}
